{% extends "mobilemovies.html.twig" %}
{% block movies %}
<section class="content">            
       <div class="shell"> 
       <div class="main">

{% if page > 1 %}
<div class="prev"><a href="{{prev}}"><span>{{msg_prev}}</span></a></div>
{% endif %}
   <h2>{{menu_movie}}</h2> 
	<section class="cols">
   <div class="col">
{% for key,movie in movies %}
{% if movie.title %}     
<div class="col-cnt">

<a href="{{movie.url}}&lang={{lang}}"><h2>{{movie.title|raw}}</h2></a>
<br/><a href="{{movie.url}}&lang={{lang}}"><img src="{{movie.poster}}" width="320" height="240"/></a>
 
 
<br/><br />
 <div class="description">{{movie.description|raw}}</div></div>
{% elseif movie.title is empty %}
<h2><span style="color:red;float:left;"/>Sorry, no movie found!</span></h2>

{% else %}
 {% endif %}

{% endfor %}
</div>
</section>
<div class="next"><a href="{{next}}"><span>{{msg_next}}</span></a></div>
<script>
$(document).ready(function(){ window.scroll(0,700); });
</script>
</div>
   </div> 
 
</section>
{% endblock movies %}

